* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/1695312310_2-79.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.open-btn {
  padding: 10px 15px;
  border: none;
  background-color: #ea6adf;
  color: #fff;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: -0.5rem;
  margin-right: -2rem;
}

.open-btn:hover {
  scale: 1.05;
  box-shadow: 0 10px 15px rgba(172, 8, 155, 0.5);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.showBacsdrop {
  opacity: 1;
}

.modal {
  background: url(../public/0413dacc1755de756e7d7b51abdb3e6d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ea6adf;
  position: absolute;
  width: 80%;
  max-width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0.5;
  transform: translateY(-100vh);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.showModal {
  opacity: 1;
  transform: translateY(0);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.closeBtn span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.2 ease;
}

.closeBtn span:hover {
  transform: scale(1.2);
}

.modalHeader {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modalBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
h2{
  margin-bottom: -4rem;
}
  button{
    margin-top: 6rem;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: #ea6adf;
    font-weight: bold;
    font-size: 1rem;
    border: 3px solid #ea6adf;
    letter-spacing: 3px;
    cursor: pointer;
    &:hover{
      box-shadow: 0 10px 15px rgba(172, 8, 155, 0.5);
    }
  }
}
